@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Nunito:wght@300;700&family=Titillium+Web&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap");


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: rgb(184, 184, 184);
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}

header{
    background: rgb(29, 28, 28);
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
}

#header-img{
    height: 100%;
    width: 100%;
    max-height: 62px;
    max-width: 200px;
    padding: 5px;
}

#nav-bar {
    margin: 0px 10px;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

.nav-link{
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(212, 25, 41);
}

#burger{
    color: rgb(29, 28, 28);
    font-size: 30px;
    margin:10px;
    cursor: default;
}


a:hover{
    color:rgb(255, 102, 0);
    transition: 1ms;
}


@media (max-width: 600px){
    nav ul{
        margin-top: -300px;
    }
    #burger{
        color: rgba(218, 24, 24, 0.952);
        font-size: 30px;
        margin:10px;
        cursor: pointer;
    }
    #burger:hover{
        color: rgb(255, 102, 0);

    }

}

#showcase{
    background-image: linear-gradient(115deg, rgba(121, 32, 32, 0.925), rgba(42, 42, 134, 0.7)), url(/assets/showcase-image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    height: 40vh;
    width: 100%;
}
@media (max-width: 1025px){
    #showcase{
        height: 33vh;
    }
}

@media (max-width: 570px){
    #showcase{
        height: 33vh;
        background-size: 555px;
        background-position-x: 50%;
    }
}
h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: rgb(255, 102, 0);
    text-shadow: 5px 5px rgb(172, 19, 19);
    padding-top: 50px;
    margin-top: 50px;
}

@media (max-width: 1024px){
    h1{
        font-size: 50px;
        text-shadow: 3px 3px rgb(172, 19, 19);
 }
}
@media (max-width: 700px){
    h1{
        font-size: 45px;
        text-shadow: 3px 3px rgb(172, 19, 19);
 }
}
@media (max-width: 550px){
    h1{
        font-size: 39px;
        text-shadow: 3px 3px rgb(172, 19, 19);
 }
}

.slogan{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 200;
    color: rgb(253, 182, 101);
    padding: 10px 0px 20px;
}

.line{
    display: block;
    margin: auto;
    width: 400px;
    border: 1px solid rgb(204, 192, 153);
}

@media (max-width: 1024px){
    .slogan{
        font-size: 18px;
    }
}

@media (max-width: 700px){
    .slogan{
        font-size: 16px;
    }
}

@media (max-width: 500px){
    .slogan{
        font-size: 16px;
    }
}

#form{
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 600px){
    #form{
        display: grid;
        grid-template-columns: 200px;
        
    }

}

#email{
    margin: 0px 10px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(255, 102, 0);
    border-radius: 2%;

}

@media (max-width: 600px){
    #email{
        margin: 0px 10px 10px 10px;
    }
}

#submit{
    background:rgb(172, 19, 19);
    color:rgb(255, 102, 0);
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(255, 102, 0);
    border-radius: 2%;
    cursor: pointer;
}

#submit:hover{
    background:rgb(255, 102, 0);
    color:rgb(172, 19, 19);
    transition: 0.5s;
}

@media (max-width: 600px){
    #submit{
        margin: 0px 50px;
    }
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
}

@media (max-width: 1024px){
    .container {
        max-width: 800px;
    }
}

@media (max-width: 868px){
    .container {
        max-width: 500px;
    }
}

@media (max-width: 500px){
    .container{
        max-width: 400px;
    }
    .grid{
        display: block;
    }

}

#features {
    margin-top: 30px;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
}

.icon{
    color: rgb(255, 102, 0);
    padding: 20px;
}

@media (max-width: 500px){
    #features {
        margin-top: 15px;
    }
    #features .desc{
        justify-items: center;
        align-items: center;
    }
    .icon{
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#video{
    height: 330px;
    width: 1000px;
}
#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 868px){
    #pricing{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

@media(max-width: 868px){
    .product{
        width: 80%;
    }

}
.level {
    background-color: rgba(218, 24, 24, 0.952);
    color: rgb(253, 182, 101);
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
h2 {
    margin-top: 15px;
}
  
ol {
    margin: 15px 0;
    list-style-type: none;
}
  
li {
    padding: 5px 0;
}

.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 200;
    font-family: 'Balsamiq Sans', cursive;
    text-transform: uppercase;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 2px;
    font-weight: 200;
    cursor: pointer;
}
  
button {
    border: 0;
    margin: 15px 0;
    background-color:rgb(218, 24, 24);
    color: rgb(253, 182, 101);
}

button:hover {
    background-color:rgb(253, 182, 101);
    color: rgb(218, 24, 24);
    transition: background-color 0.5s;
}

footer {
    margin-top: 30px;
    background-color: rgb(29, 28, 28);
    padding: 20px;
}
  
footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
  
footer li {
    padding: 0 10px;
}

.nav-bottom{
    color: rgb(218, 24, 24);
    text-decoration: none;
}
span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    color:rgb(255, 102, 0);
}


  
